<!-- Tabs for Games's CRUD -->
<ul class="nav nav-tabs">
  <li class="nav-item">
      <a class="nav-link font-weight-bold" aria-current="page" href="game">Home</a>
  </li>
  <li class="nav-item">
      <a class="nav-link font-weight-bold" href="game/getAll">All Games</a>
  </li>
  <li class="nav-item">
      <a class="nav-link font-weight-bold" href="game/post">Post Game</a>
  </li>
  <li class="nav-item">
      <a class="nav-link font-weight-bold" href="game/get">Get Game</a>
  </li>
  <li class="nav-item">
      <a class="nav-link font-weight-bold" href="game/delete">Delete Game</a>
  </li>
</ul>

<div>
    <router-outlet></router-outlet>
</div>